section {
    width: 400px;

    margin-left: 40%;
    margin-bottom: 300px;

    font-family: 'Poppins', serif;
}

.form-group {

    width: 400px;

    margin-left: 850px;

    font-family: 'Poppins', serif;

    padding-bottom: 1rem;
}
.btn {

    margin-left: 140px;
}
