
html {
    background: #3A5BA0;
}

body {
    background: black;
}

section {
    width: 400px;
    height: 500px;

    margin-left: 40%;
    margin-bottom: 10px;

    color: #DFF6FF;
    font-family: 'Poppins', serif;
    padding-bottom: 3px;

}

.form-group {

    width: 400px;

    margin-left: 850px;

    font-family: 'Poppins', serif;

    padding-bottom: 1rem;

    background: #1363DF;
    backdrop-filter: blur(100px);
}
.btn {

    color: #DFF6FF;
    margin-left: 150px;
}
