<form-comp (callParent)='getMsgFromChild({$event : $event})'></form-comp>

<section>
        <div class="c1">

        </div>
        <div class="c2">
            <div class="title">
                <p>W11k</p>
            </div>
            <div class="firm">
                <p>Angular Web-Development</p>
            </div>
            <div class="name">
                <p>{{msg?.prename}} {{msg?.name}}</p>
            </div>
            <div class="pos">
                <p>{{msg?.pos}}</p>
            </div>
            <div class="row">
                <p><mat-icon> phone</mat-icon> {{msg?.phone}}</p>
                <p><mat-icon>bookmark</mat-icon> {{msg?.email}}</p>
                <p><mat-icon> place</mat-icon> {{msg?.city}} - {{msg?.state}}</p>
                <div class="cv">
                    <select name="Lebenslauf" id="vc">
                        <option name="cv">Lebenslauf</option>
                        <option value="Preschool">{{msg?.pre}} {{msg?.preTime}}</option>
                        <option value="high">{{msg?.high}} {{msg?.highTime}}</option>
                        <option value="abs">{{msg?.abs}}</option>
                        <option value="sonstiges">{{msg?.ql1}}</option>
                        <option value="sonstiges2">{{msg?.ql2}}</option>
                        <option value="sonstiges2">{{msg?.ql3}}</option>
                    </select>
                </div>
            </div>
        </div>

</section>
