section {
    margin-left: 25%;
    margin-bottom: 1000px;
}


.c1 {

    margin-left: 188px;
    margin-top: 183px;
    margin-bottom: 567px;

    position: absolute;
    width: 685px;
    height: 384px;

    background: rgba(105, 142, 157, 0.56);
    backdrop-filter: blur(50px);

    border-radius: 30px;

}
.c2 {

    margin-top: 134px;
    margin-left: 118px;

    position: absolute;
    width: 825px;
    height: 482px;

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(100px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 30px;
}

.title {
    position: absolute;
    width: 132px;
    height: 64px;

    margin-top: 19px;
    margin-left: 90px;

    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 60px;

    color: #000000;

}
.row {
    position: absolute;
    width: 220px;
    height: 45px;

    margin-top: 157px;
    margin-left: 500px;
    margin-right: auto;

    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

.name {
    position: absolute;
    width: 132px;
    height: 44px;

    margin-left: 90px;
    margin-top: 169px;

    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

.firm {
    position: absolute;
    width: 292px;
    height: 30px;

    margin-left: 90px;
    margin-top: 105px;

    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */


    color: #000000;
}

.pos {
    position: absolute;
    width: 132px;
    height: 23px;

    margin-left: 90px;
    margin-top: 201px;

    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}

.cv {

    position: relative;
    display: inline-block;
}
.cv-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}
